@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,200&family=Raleway:wght@600&family=Righteous&family=Roboto:wght@300&family=Sacramento&display=swap');$font-sm: 18px;
$font-md: 24px;
$font-la: 40px;

$font-josefin :'Josefin Slab', serif;
$font-Right :'Righteous', cursive;
$font-Robo :'Roboto', sans-serif;
$font-Sac :'Sacramento', cursive;
$font-Rale:'Raleway', sans-serif;
